<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517991803152-ml78a0me8f20kciqek0gli8qcs0nup5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517991803152-ml78a0me8f20kciqek0gli8qcs0nup5p</string>
	<key>API_KEY</key>
	<string>AIzaSyCeWrhPD4t2M0hGh8LjENcj0Go7j9I4DCE</string>
	<key>GCM_SENDER_ID</key>
	<string>517991803152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lotus.horizon.projectVisionRevival</string>
	<key>PROJECT_ID</key>
	<string>visvival</string>
	<key>STORAGE_BUCKET</key>
	<string>visvival.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517991803152:ios:753a69194825e9ce</string>
	<key>DATABASE_URL</key>
	<string>https://visvival.firebaseio.com</string>
</dict>
</plist>